<div class="author-block">
    <img src="{{profile_image }}" alt="Author avatar" class="author-block__avatar">
    <div class="author-block__text u-margin-left-small">
        <div class="author-block__name">{{name}}</div>
        <div class="author-block__date u-margin-top-small">{{date format="MMM DD"}}</div>
    </div>
</div>