<a href="{{url}}" class="featured-card-search">
    <div class="featured-card-search__image-wrapper">
        <img class="featured-card-search__image" src="{{feature_image}}" />
    </div>
    <p class="featured-card-search__text u-margin-left-medium">{{excerpt}}</p>
</a>