<footer class="footer">
    <div class="footer__content">

        <div class="footer__logo">
            <img src="{{asset "images/footer/logo.svg"}}" alt="Logo" class="header__logo-image">
            <div class="footer__copy-right">
                &copy; {{date format="YYYY"}}
            </div>
        </div>

        <div class="footer__policy">
            <a href="#" class="footer__policy-link">Публичная оферта</a>
            <a href="#" class="footer__policy-link">Политика безопасности</a>
            <a href="#" class="footer__policy-email">inbox@asoone.io</a>
        </div>

        <a href="#" class="btn btn--secondary">
            <img src="{{asset "images/logo2.svg"}}" alt="Logo button" />
        </a>

    </div>
</footer>