{{#get "tags" limit="all" order="name asc"}}
    {{#if tags}}
        <ul class="tags-list">
            {{#foreach tags}}
                <li data-color={{accent_color}} data-slug={{slug}} data-url={{url}}>
                    {{> tag}}
                </li>
            {{/foreach}}
        </ul>
    {{/if}}
{{/get}}
<script>
    const currentLi = document.querySelector(`li[data-url*="${window.location.pathname}"]`);
    const color = currentLi.dataset.color;
    currentLi.style.backgroundColor = color;
    currentLi.querySelector('.tag__image path').style.fill = '#fff';
</script>