{{!< default}}

<section class="section-featured">
    <div class="section-featured__content">
        <div class="row">
            {{> "tags-list"}}
        </div>

        <div class="row">
            <div class="col-2-of-3">
                {{#get "posts" limit=1 filter="featured:true" include="tags,authors"}}
                    {{#foreach posts}}
                        {{> "featured-card"}}
                    {{/foreach}}
                {{/get}}
            </div>
            <div class="col-1-of-3">
                <h4 class="heading-four u-margin-bottom-medium">Popular articles</h4>
                <div class="section-featured__featured-list">
                    {{#get "posts" limit="all" filter="featured:true"}}
                        {{#foreach posts}}
                            {{> "featured-card-search"}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </div>
</section>
