.featured-card {
  padding: 1.6rem;
  background-color: $color-white;
  display: block;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &__image-wrapper {
    width: 100%;
    height: 36.8rem;
    background-color: orangered;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overview {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: $color-grey-dark;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

}