.post-card {
  padding: 1.6rem;
  background-color: $color-white;
  display: block;
  border: 1px solid $color-grey-light;

  &:link,
  &:visited {
    text-decoration: none;
  }

  &__image-wrapper {
    width: 100%;
    height: 16.6rem;
    background-color: orangered;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__overview {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $color-grey-dark;
    height: 13rem;
    overflow: hidden;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

}

.post-card .heading-four {
  color: $color-grey-dark-2;
}