.tags-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;

  & > li {
    margin-bottom: 1.5rem;
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  .tag {
    &--active {
      color: $color-white;
    }
  }
}

.tag {
  color: $color-grey-dark;

  &:visited,
  &:link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .7rem 1.2rem;
  }

  &__text {
    font-size: $default-font-size;
    margin-left: .8rem;
    white-space: nowrap;
    color: inherit;
  }
}
