// COLORS
$color-white: #FFF;
$color-white-dark: #F5F6F8;
$color-grey-light: #E3E6ED;
$color-grey-light-2: #EFF1F5;
$color-grey-dark: #535875;
$color-grey-dark-2: #3D4156;
$color-grey-dark-3: #6B7297;
$color-link: #4442A8;


// FONT_SIZES
$default-font-size: 1.6rem;


// GRID
$grid-width: 111.2rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 4rem;
